body {
  margin: 0;
}
button{
  border: 0;
  background-color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  height: 80px;
}
.search {
  padding: 40px 15px;
 
  display: flex;
  column-gap: 20px;
}
.logo {
  cursor: pointer;
  height: 65px;
}
